
.ocultar {
    display: none;
}

.mostrar {
    display: block;
}

.imgPersonaje {
    height: 400px;

}

h1{
   text-align: center;
}

.pregunta {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contenedorImg{
    display: flex;
    justify-content: center;
    width: 500px;
    margin: auto;
  
    border-radius: 50px;
    padding: 10px;

}

.contenedorResultado{
    display: flex;
    justify-content: center;
    width: 500px;
    margin: auto;
  
    border-radius: 50px;
    padding: 10px;

}

.contenedorPuntaje{
    display: flex;
    justify-content: center;

}
.contenedorPreguntas {
    width: 700px;
    margin: auto;
    background-color: #3ADEEF;
    border-radius: 50px;
    padding: 10px;
    margin-top: 20px;
}

.divPregunta {
    width: 70%;
    margin-left: 20px;
}

.divRespuesta{
    width: 20%;
    margin-left: 30px;
}

.divIco{
 width: 10%;
}
.icoRta{
    height: 20px;
}


.imgBlur20{
    filter: blur(20px);
}

.imgBlur18{
    filter: blur(18px);
}

.imgBlur16{
    filter: blur(16px);
}

.imgBlur14{
    filter: blur(14px);
}

.imgBlur12{
    filter: blur(12px);
}

.imgBlur10{
    filter: blur(10px);
}

.contenedorBoton {
    display: flex;
    justify-content: center;
}

.boton {
    width: 150px;
    height: 50px;
    background-color: #3AEF9F;
    color: mintcream;
}

